:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction:initial;
    align-items: center;
    justify-content:flex-start;
}

header .logo{
    margin: 5px;
    color: var(--vermelho);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-right: 50px;
}

 header nav a{
     text-decoration: none;
     color: #aaa;
     margin right: 10px;
 }

 header nav a:hover{
    color: #fff;
 }
 

 .main-conteudo{
     font-size: 16px;
     background: url(img/CPICOVER-2.jpg);

    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
 }
.infos{
    margin-left: 35px;
    display: flex;
    
}

 .descricao{
     margin-bottom: 30px;
     margin-top: 50px;
     margin-left: 30px;
     margin-inline-end: 60%;
     font-size: 20px;
     
     }

 .titulo{

     margin-top: 2%;
     margin-left: 25px;
 }

 .botao {
     background-color: rgba(0,0,0, .50);
     border: none;
     color:white;

     padding: 20px;
     margin-right: 10px;
     margin-left: 30px;
     

     cursor: pointer;
     transition: .3s ease all;
 }
 .botao:hover{
     background-color: white;
     color: black;
 }

.botao i{
    margin-right: 5px;
    margin-left: 5px;
}

.main-conteudo .conainer{
    width: 70%;
}

.box-img{
    height: 100%;
    width: 100%;
    display: block;    
}